.detailPage {
    padding-top: 120px;

    .imgs {
        width: 100%;

        img {
            height: 50vh;
            max-height: 400px;
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }


    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .stars {
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 5px;

            svg {
                fill: rgb(248, 150, 3);
            }
        }
    }

    .location {
        svg {
            fill: var(--brand-color);
        }
    }

    .info {
        margin-top: 30px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10%;

        .description {
            opacity: 0.8;
        }

        .book {
            padding: 20px;
            border-radius: 5px;
            background-color: #EEEFF1;
            height: 300px;
            width: 100%;
            min-width: 400px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .texts {
                width: 100%;

                h2 {
                    font-weight: 600;
                }

                .price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    p {
                        text-transform: capitalize;
                        opacity: 0.8;
                    }

                    h4 {
                        font-size: 30px;
                        font-weight: 400;
                    }
                }
            }



            button {
                padding: 10px 15px;
                width: 100%;
                background-color: var(--brand-color);
                color: #fff;
                border-radius: 5px;

            }

            ul {
                margin: 20px 0;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 10px;

                    svg {
                        fill: var(--brand-color);
                    }
                }
            }
        }
    }

    .categories {
        ul {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;

            li {
                width: 30%;
                margin: 20px 0;
                list-style: none;
                font-weight: 500;

                .head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: capitalize;
                    width: 100%;
                }

                .line {
                    height: 5px;
                    width: 100%;
                    border-radius: 5px;
                    background-color: #EEEFF1;
                    position: relative;

                    .current {
                        background-color: var(--brand-color);
                        border-radius: 5px;
                        height: 5px;
                        position: absolute;

                    }
                }
            }
        }
    }

    .feedbacks {
        margin-top: 30px;

        h3 {
            margin-bottom: 20px;
        }

        .reviews {
            width: 100%;

            .card {
                border: 1px solid #EEEFF1;
                padding: 20px;
                border-radius: 5px;



                .head {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-bottom: 20px;
                    gap: 10px;

                    .img {
                        height: 50px;
                        width: 50px;
                        background-color: greenyellow;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        color: #fff;
                    }

                    .about {

                        .name {
                            font-weight: 500;
                            font-size: 18px;
                        }

                        .country {
                            font-size: 14px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: var(--brand-color);
        fill: var(--brand-color);
    }

    .swiper-pagination-bullet-active {

        background: var(--brand-color)
    }

    .swiper-pagination {
        display: none;
    }
}